<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution">

    <dist:module
        dist:instant="false"
        dist:title="@string/title_customer_support">
        <dist:delivery>
            <dist:on-demand />
        </dist:delivery>

        <dist:fusing dist:include="false" />
    </dist:module>

    <application>
        <activity
            android:name=".CustomerSupportActivity"
            android:exported="false"
            android:label="@string/title_activity_customer_support"
            android:theme="@style/Theme.HasanerRafkhata" />
    </application>

</manifest>